<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<system>Surviveplus.net Excel マクロ</system>
	<version>1.0</version>
	<shortcuts>
		<shortcutCategory key="{Direct}" >
			<shortcutMacro key="{F1}" sub="Surviveplus.xla!参照形式切替" />
			<shortcutMacro key="^+%i" sub="Surviveplus.xla!数値インクリメント挿入" />
			<shortcutMacro key="^+i" sub="Surviveplus.xla!末尾の数値をインクリメント" />
			<shortcutMacro key="^+v" sub="Surviveplus.xla!値の貼り付け" />
			<shortcutMacro key="+^t" sub="Surviveplus.xla!セル結合" />
			<shortcutMacro key="+^o" sub="Surviveplus.xla!等幅フォントに変更" />
			<shortcutMacro key="+^p" sub="Surviveplus.xla!プロポーショナルフォントに変更" />
			<shortcutMacro key="^+%-" sub="Surviveplus.xla!中央の横線を消す" />
			<shortcutMacro key="^+_" name="アウトライン行の展開/縮小" sub="Surviveplus.xla!アウトライン行の展開縮小" />
		</shortcutCategory>
		<shortcutCategory key="^m" name="Surviveplus.xla!ショートカットメニューを表示する">
			<shortcutMacro key="F4" name="全画面表示" sub="Surviveplus.xla!全画面表示" />
			<shortcutMacro key="F" name="ワークブックのフォルダを開く" sub="Surviveplus.xla!アクティブワークブックのフォルダを開く" />
			<shortcutMacro key="1" name="全てのシートのカーソルを左上に" sub="Surviveplus.xla!全てのシートのカーソルを左上に" />
			<shortcutMacro key="M" name="アウトライン行の展開/縮小" sub="Surviveplus.xla!アウトライン行の展開縮小" />
			<shortcutMacro key="C" name="選択範囲の値を連結してコピー" sub="Surviveplus.xla!選択範囲の値を連結してコピー" />
			<shortcutMacro key="S" name="ワークシートの名称を置換" sub="Surviveplus.xla!ワークシートの名称を置換" />
		</shortcutCategory>
	</shortcuts>
</settings>